<div class="navbg"></div>

<div class="container">
<%= simple_form_for @vacatures do |v| %>

<div class="form-group">
  <%= v.input :title %>
</div>

<div class="form-group">
  <%= v.input :category, collection: [:php, :ruby] %>
</div>

<%= v.submit "Doe maar!", class: "btn btn-primary" %>
<% end %>
</div>