<%= render 'layouts/navigation' %>

<div class="container">

<%= render 'searchform' %>

                <div class="col-lg-8">

                    <h2 class="left">Dit kwam er uit</h2>
                    <div class="customhrleft"></div>

                    <div class="vacatures">
                    <% @vacatures.each do |vacature| %>
                        <div class="vacature">
                            <div class="icon">
                                <i class="glyphicon devicon-<%= vacature.category.logo %>-plain"></i>
                            </div>

                            <div class="tekst">
                                <h3><%= vacature.title %></h3>
                                <p>Google / Rotterdam / 4 juli 2016</p>
                            </div>

                            <div class="buttonz">
                                <button type="button" class="btn btn-primary">Bekijk vacature</button>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    <% end %>
                    </div>
                    <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>