<div id="mainheader">
  <div class="container">

  <span class="smallslogan">Specialist in ICT vacatures</span>
  <span class="bigslogan">Met meer dan 7 vacatures de grootste in haar gebied!</span>

  <form id="zoeken" class="form-inline">
    <div class="form-group icon-addon">
      <input type="text" placeholder="Functie omschrijving" class="form-control" id="functie">
      <label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="functie"></label>
    </div>

    <div class="form-group icon-addon">
      <input type="text" placeholder="Plaats / postcode" class="form-control" id="plaats">
      <label for="email" class="glyphicon glyphicon-home" rel="tooltip" title="plaats"></label>
    </div>

    <div class="form-group icon-addon" class="form-control">
      <input type="submit" value="Zoeken!">
    </div>
  </form>

  </div>
</div>