<!DOCTYPE html>
<html>
<head>
  <title>Multiplaai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

   <footer id="footer">

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <p class="logo">Project<span>name</span>
                    </p>
                </div>

                <div class="col-md-7 col-md-offset-1 social">
                    <ul>

                    </ul>
                </div>

            </div>

        </div>

    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){

      var myNavBar = {

          flagAdd: true,

          elements: [],

          init: function (elements) {
              this.elements = elements;
          },

          add : function() {
              if(this.flagAdd) {
                  for(var i=0; i < this.elements.length; i++) {
                      document.getElementById(this.elements[i]).className += " fixed-theme";
                  }
                  this.flagAdd = false;
              }
          },

          remove: function() {
              for(var i=0; i < this.elements.length; i++) {
                  document.getElementById(this.elements[i]).className =
                          document.getElementById(this.elements[i]).className.replace( /(?:^|\s)fixed-theme(?!\S)/g , '' );
              }
              this.flagAdd = true;
          }

      };

      myNavBar.init(  [
          "header",
          "header-container",
          "brand"
      ]);

      function offSetManager(){

          var yOffset = 0;
          var currYOffSet = window.pageYOffset;

          if(yOffset < currYOffSet) {
              myNavBar.add();
          }
          else if(currYOffSet == yOffset){
              myNavBar.remove();
          }

      }

      window.onscroll = function(e) {
          offSetManager();
      }

      offSetManager();
      });
    </script>

</body>
</html>
